<html>
  <body>
    <a href="/products">Back to products</a>
    <h1><%=product.name%></h1>
    <img width="500px" src="<%=product.image%>" />
    <p><h2><%=product.description%></h2></p>
  </body>
</html>
